<?xml version="1.0" encoding="utf-8"?><!--
  ~  Created by Medvediev Viktor [mvproject]
  ~  Copyright © 2023
  ~  last modified : 10.05.23, 20:21
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".di.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.VideoApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31"
        android:banner="@drawable/tv_banner">
        <activity
            android:name=".ui.screens.main.view.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.VideoApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>


        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="com.mvproject.tinyiptv.androidx-startup"
            tools:node="remove" />

    </application>

</manifest>